langchain
langchain-openai
langchain-community
faiss-cpu
pypdf
sentence-transformers
python-dotenv  
ipykernel
unstructured
libmagic
langchain-text-splitters
pymupdf
docx2txt
docx
unstructured[docx]
pandas
openpyxl
jq
scikit-learn 
matplotlib 
pandas
sentence-transformers
umap-learn
langchain_chroma
langchain_pinecone
spacy